/* You can add global styles to this file, and also import other style files */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.footer {
  text-align: center;
}
